*{
    margin: 0%;
    padding: 0%;
}

.container{
    width: 100%;
    height: 100vh;

    background-color:rgb(165, 212, 239);
    display: flex;
    justify-content: center;
    align-items: center;

}
.weather_container{
    color: rgb(22, 13, 60);
}
.temperature {
 font-size: 4.5rem;

}
.time_location{
    font-size: 2rem ;
}

.condition {
    margin: 0.5rem;
    margin-left: 0.2rem;


}
nav{
    height: 90px;
    margin: 5rem;

}
.search_area {
    padding: 1rem 0;
    outline: none;
    border: none;
    color: black;
    font-size: 1.1rem;
    border-bottom: 2px solid whitesmoke;

}
nav form button{
    padding: 0.1%;
    background-color: rgb(216, 216, 227);
margin: 1rem;
font-size: 1rem;
outline: none;
    border: none;
    cursor: pointer;


}
